ion-content {
  --background: var(--ion-background-color);
}

ion-card-title {
  font-size: 1.3rem;
  font-weight: 700;
}

ion-card-subtitle {
  font-size: 1rem;
  color: var(--ion-color-medium);
}

ion-button {
  margin-top: 12px;
}
